#main {
  flex: 1;
  display: flex;
  width: 75%;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

#main:after {
  position: absolute;
  background-color: lightgoldenrodyellow;
  opacity: 0.3;
  content: "";
  top: 100px;
  left: 0;
  bottom: 53px;
  right: 0;
  z-index: -1;
  width: 75%;
  max-width: 1500px;
  margin: 0 auto;
}

@media only screen and (max-width: 540px) {
  #main:after {
    display: none;
  }
}